/**
 * Stylesheet - Main
 * Author - Andrew Mass, Nick Kortendick
 */

#header-logo {
  margin: 5px 10px;
  width: inherit;
}

body {
  padding-top: @navbar-height + 50px;
}

.content.container {
  padding-bottom: 15px;
}

#twitter-box {
  margin-top: 35px;
  height: 585px;

  iframe {
    height: 585px;
  }
}

#hero-main {
  width: 100%;
  margin-top: -100px;
  margin-bottom: 30px;
}

.navbar {
  border: none;
  max-width: 1200px;
  margin: 15px auto;
  border-radius: 5px;

  li.active {
    height: @navbar-height;

    a {
      border-bottom: 2px solid @accent-orange;
      padding-bottom: 13px;
    }
  }

  li.social-icon {
    height: @navbar-height;
    width: @navbar-height;
    font-size: 30px;

    a {
      height: 50px;
      text-align: center;
    }
  }
}

.home {

  img {
    width: 100%;
  }

  #sponsors {

    img {
      .transition(@transition-time all);
      width: 200px;
      filter: url(filters.svg#grayscale);
      filter: gray;
      -webkit-filter: grayscale(1);

      &:hover {
        .transition(@transition-time all);
        filer: none;
        -webkit-filter: grayscale(0);
      }
    }
  }

  h1 {
    font-size: 60px;
    color: @accent-blue;
    //border-bottom: 2px solid @accent-orange;
  }

  hr {
      border-color: @accent-orange;
  }
}

.sponsors {

  .content.container {
    text-align: center;

    .row {
      margin-top: 20px;
    }

    h1 {
      color: @accent-blue;
    }

    hr {
      border-color: @accent-orange;
    }

    .orange-and-blue {
      img {
        width: 400px;
        height: 200px;
      }
    }

    img {
      .transition(@transition-time all);
      filter: url(filters.svg#grayscale);
      filter: gray;
      -webkit-filter: grayscale(1);

      &:hover {
        .transition(@transition-time all);
        filer: none;
        -webkit-filter: grayscale(0);
      }
    }
  }
}

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: @grayDark;

  a {
    color: @accent-orange;
  }

  .row {
    padding-top: 5px;
  }

  #footer-left {
    text-align: left;
  }

  #footer-center {
    text-align: center;
  }

  #footer-right {
    text-align: right;
  }
}
