/**
 * Stylesheet - Main
 * Authors - Andrew Mass, Nick Kortendick
 */

#header-logo {
  margin: 5px 20px 5px 10px;
  width: inherit;
}

body {
  padding-top: @navbar-height + 50px;
}

.content.container {
  padding-bottom: 15px;
}

#twitter-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin-top: 35px;

  iframe {
    height: 100%;
  }
}

.navbar {
  border: none;
  max-width: 1200px;
  margin: 15px auto;
  border-radius: 5px;

  li.active {
    height: @navbar-height;

    a {
      border-bottom: 2px solid @accent-orange;
      padding-bottom: 13px;
    }
  }

  li.social-icon {
    height: @navbar-height;
    width: @navbar-height;
    font-size: 30px;

    a {
      height: 50px;
      text-align: center;
    }
  }
}

.home {

  img {
    width: 100%;
  }

  #main-content {
    position: relative;
  }

  .overlay-container {
    position: relative;

    #hero-main {
      margin-top: -100px;
    }

    .overlay-container-inner {
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;

      .inner-inner {
        position: relative;
        height: 100%;
        max-width: 1200px;
        margin: 0 auto;

        .overlay {
          position: absolute;
          top: 0;
          bottom: 70%;
          right: 20px;
          left: 55%;
        }
      }
    }
  }

  #sponsors {

    img {
      .transition(@transition-time all);
      width: 200px;
      filter: url(./img/filters.svg#grayscale); /* Firefox 3.5+ */
      filter: gray; /* IE6-9 */
      -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */

      &:hover {
        .transition(@transition-time all);
        filter: none;
        -webkit-filter: none;
      }
    }
  }

  h4 {
    text-align: center;
    border: 2px solid @accent-orange;
    padding: 5px;
  }

  hr {
      border-color: @accent-orange;
  }
}

.sponsors {

  .content.container {
    text-align: center;

    .row {
      margin-top: 20px;
    }

    h1 {
      color: @accent-blue;
    }

    hr {
      border-color: @accent-orange;
    }

    .orange-and-blue {
      img {
        width: 400px;
        height: 200px;
      }
    }

    img {
      .transition(@transition-time all);
      filter: url(./img/filters.svg#grayscale); /* Firefox 3.5+ */
      filter: gray; /* IE6-9 */
      -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */

      &:hover {
        .transition(@transition-time all);
        filter: none;
        -webkit-filter: none;
      }
    }
  }
}

.cars {

  img {
    width: 100%;
    margin-bottom: 25px;
  }
}

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: @grayDark;

  a {
    color: @accent-orange;
  }

  .row {
    padding-top: 5px;
  }

  #footer-left {
    text-align: left;
  }

  #footer-center {
    text-align: center;
  }

  #footer-right {
    text-align: right;
  }
}
